@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive; 
}

*{
    margin: 0px;
    padding: 0px;

}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2em;
}

section > p{
    padding-bottom: 2em;
}

section.img01{
    background-image: url('../imagens/bg-novo.webp');
    font-size: 2.5em;
    font-display: inherit;
    text-align: center;
    padding-top: 200px;
    background-color: rgb(29, 29, 29);
    background-position: right bottom;
    color: rgb(255, 255, 255);
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
}

section.img01 > p{
    background-color: rgba(0, 0, 0, 0.014);
    display: inline-block;
    margin: auto;
    
}

img{
    border-radius: 200px;
    border: 50px 50px 50px rgb(0, 0, 0);
    border-style: outset black;
    padding: 20px;
}

section.img02{
    background-color: white;
    text-align: center;
    padding-top: 0px;
    font-size: 2em;
    
    

}

section.img02 > h1{
    font-size: 0.9em;
    font-style: var(--fonte2);
    font-weight: bolder;
    line-height: 4em;
    
}

section.img02 > p{
    font-size: 0.5em;
    padding-left: 20%;
    padding-right: 20%;
}

section.img03{

}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.281);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.808);
}
a{
    color: rgb(104, 206, 247);
    text-decoration: none;
}


