@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
body {
  font: 18px "Nunito", sans-serif;
  color: black;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background: url(bg.jpg) no-repeat center;
  background-size: cover;
  -webkit-animation: backgroundZoomAnimate 20s forwards;
          animation: backgroundZoomAnimate 20s forwards;
}

@-webkit-keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

@keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.profile-card {
  box-shadow: 0 18px 200px -60px black;
  border-radius: 50px;
  width: 620px;
  position: relative;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.2509803922);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (max-width: 568px) {
  .profile-card {
    width: auto;
  }
}
.profile-card__img img {
  margin: auto;
  width: 190px;
  height: 180px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  box-shadow: 0 10px 60px -10px rgba(13, 28, 39, 0.5);
}
.profile-card__desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.profile-card__desc h1 {
  font-size: 2.3rem;
  font-weight: bold;
}
.profile-card__desc h1 + div {
  font-size: 18px;
}
.profile-card__info {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 24px;
  font-weight: lighter;
}
@media screen and (max-width: 576px) {
  .profile-card__info {
    gap: 8px;
  }
}
.profile-card__info > div {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.profile-card__info > div > *:first-child {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 2rem;
  margin-bottom: 15px;
}
.profile-card__info > div > *:last-child {
  font-size: 16px;
  opacity: 0.7;
}
.profile-card__social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.profile-card a {
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 40%;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s;
}
@media screen and (max-width: 768px) {
  .profile-card a {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .profile-card a:hover {
    transform: scale(1.2) translateY(-5px);
  }
  .profile-card a.telefone {
    background: linear-gradient(to right, #17853f, #107e39);
    box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
  }
  .profile-card a.email {
    background: linear-gradient(#1293d2, #0e76a8);
    box-shadow: 0px 4px 30px rgba(19, 72, 139, 0.5);
  }
  .profile-card a.instagram {
    background: linear-gradient(45deg, #e9b301 10%, #991a44, #a13f65, #833ab4, #522174);
    box-shadow: 0px 4px 30px rgba(19, 72, 139, 0.5);
  }
  .profile-card a.whatsapp {
    background: linear-gradient(to right, #25d366, #1bb453);
  }
}
.profile-card__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13rem;
}
@media screen and (max-width: 576px) {
  .profile-card__actions {
    flex-direction: column;
    gap: 4rem;
  }
}
.profile-card__actions > a > button {
  font-weight: bold;
  font-size: 20px;
  padding: 13px 0px;
  min-width: 250px;
  border-radius: 50px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}
@media screen and (max-width: 768px) {
  .profile-card__actions > a > button {
    min-width: 170px;
  }
}
@media screen and (max-width: 576px) {
  .profile-card__actions > a > button {
    min-width: inherit;
    width: 100px;
    max-width: 350px;
  }
}
@media screen and (min-width: 576px) {
  .profile-card__actions > a > button:hover {
    transform: translateY(-5px);
  }
}
.profile-card__actions > a > button.red {
  background: linear-gradient(45deg, #851a1a, #770606);
  box-shadow: 0 4px 30px rgba(247, 40, 40, 0.5);
}
.profile-card__actions > a > button.red:hover {
  box-shadow: 0 7px 30px rgba(19, 127, 212, 0.75);
}
.profile-card__actions > a > button.green {
  background: linear-gradient(45deg, #0b8045, #06832b);
}
.profile-card__actions > a > button.green:hover {
  box-shadow: 0 7px 30px rgba(223, 45, 70, 0.75);
}/*# sourceMappingURL=style.css.map */